<script setup>
import { ref, reactive } from 'vue';
import { useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import axios from 'axios';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import MediaModal from '@/Components/MediaModal.vue';
import { QuillEditor, Quill, Delta } from '@vueup/vue-quill';
import ImageUploader from 'quill-image-uploader';
import ImageResize from 'quill-image-resize';
import '@vueup/vue-quill/dist/vue-quill.snow.css';

Quill.register('modules/image-uploader', ImageUploader);
Quill.register('modules/imageResize', ImageResize);

const props = defineProps({
    article: Object
});

const toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],
    ['blockquote', 'code-block'],

    [{'header': 1}, {'header': 2}],
    [{'list': 'ordered'}, {'list': 'bullet'}],
    [{'script': 'sub'}, {'script': 'super'}],
    [{'indent': '-1'}, {'indent': '+1'}],
    [{'direction': 'rtl'}],

    [{'size': ['small', false, 'large', 'huge']}],
    [{'header': [1, 2, 3, 4, 5, 6, false]}],

    [{'color': []}, {'background': []}],
    [{'font': []}],
    [{'align': []}],
    ['link', 'image', 'video'],
    ['clean'],
];

const editorOption = {
    modules: {
        toolbar: {
            container: toolbarOptions,
            handlers: {
                'image': function (value) {
                    if (value) {
                        callMedia('image', false);
                    }
                },
                'video': function (value) {
                    if (value) {
                        callMedia('video', false);
                    }
                }
            }
        },
        history: {
            delay: 1000,
            maxStack: 50,
            userOnly: false
        },
        imageResize: {
            displayStyles: {
                backgroundColor: 'black',
                border: 'none',
                color: 'white'
            },
            modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
        }
    }
}

const form = useForm({
    id: props.article.id,
    title: props.article.title,
    url_title: props.article.url_title,
    meta_keywords: props.article.meta_keywords,
    meta_description: props.article.meta_description,
    excerpt: props.article.excerpt,
    content: props.article.content,
    status: props.article.status,
    featured_img: props.article.featured_img,
});

let showingMedia = ref(null);
let main = false;
const callMedia = (dataType, isMain) => {
    main = isMain
    showingMedia.value.showModal(dataType);
}

let myEditor = ref(null);
let mediaUrl = ref('');
let mainImg = reactive({
    img: ''
});
const getMedia = async (content, type) => {
    mediaUrl.value = content;
    if (main) {
        form.featured_img = content;
        mainImg.img = content;
    } else {
        const quillEditor = myEditor.value.getQuill();
        const range = quillEditor.getSelection(true);
        const cursorLocation = await range.index;
        await quillEditor.editor.insertEmbed(cursorLocation, type, mediaUrl.value);
    }
}

const saveArticle = () => {
    form.content = myEditor.value.getQuill().root.innerHTML;
    if (form.id !== null) {
        form.put(route('dash.content.article.update', {id: form.id}));
    } else {
        form.post(route('dash.content.article.store'));
    }
}
</script>

<template>
    <AppLayout title="Article">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Create/Update Article</h1>
            <button type="button" @click="saveArticle" class="btn btn-outline-light">Submit</button>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="row">
                    <div class="col-12 mb-3">
                        <InputLabel for="title" value="Title" />
                        <TextInput
                            id="title"
                            v-model="form.title"
                            class="mt-1 form-control"
                            required
                        />
                        <InputError :message="form.errors.title" class="mt-2" />
                    </div>
                    <div class="col-12 mb-3">
                        <InputLabel for="slug" value="Slug" />
                        <TextInput
                            id="slug"
                            v-model="form.url_title"
                            class="mt-1 form-control"
                            required
                        />
                        <InputError :message="form.errors.url_title" class="mt-2" />
                    </div>
                    <div class="col-12 mb-3">
                        <InputLabel for="content" value="Content" />
                        <div class="mb-3" style="height: 430px;">
                            <QuillEditor id="content" ref="myEditor" theme="snow" contentType="html" op :options="editorOption" v-model:content="form.content"  />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <InputLabel for="excerpt" value="Excerpt" />
                        <textarea v-model="form.excerpt" id="excerpt" class="form-control"></textarea>
                        <InputError :message="form.errors.excerpt" class="mt-2" />
                    </div>
                    <div class="col-12 mb-3">
                        <InputLabel for="metadesc" value="Meta Description" />
                        <textarea v-model="form.meta_description" id="metadesc" class="form-control"></textarea>
                        <InputError :message="form.errors.meta_description" class="mt-2" />
                    </div>
                    <div class="col-12 mb-3">
                        <InputLabel for="metakey" value="Meta Keywords" />
                        <textarea v-model="form.meta_keywords" id="metakey" class="form-control"></textarea>
                        <InputError :message="form.errors.meta_keywords" class="mt-2" />
                    </div>
                    <div class="col-12 mb-3">
                        <button class="btn btn-outline-light" type="button" @click="callMedia('image', true)">Featured Image</button>
                        <input type="hidden" v-model="form.featured_img" />
                        <div class="card w-100 border-light mt-2" style="height: 200px;border-style: dashed;">
                            <img v-if="mainImg.img !== ''" :src="mainImg.img" class="card-img" style="max-width:100%;max-height:100%;width:auto;height:auto;margin:auto;" />
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <!-- <InputLabel for="status" value="Article Status" />
                        <select class="form-select" v-model="form.status" id="status">
                            <option value="draft">Draft</option>
                            <option value="publish">Publish</option>
                        </select> -->
                        <div class="row">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="form.status" :value="'draft'" id="draft">
                                    <label class="form-check-label" for="draft">
                                        Draft
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="form.status" :value="'publish'" id="publish">
                                    <label class="form-check-label" for="publish">
                                        Publish
                                    </label>
                                </div>
                            </div>
                        </div>
                        <InputError :message="form.errors.status" class="mt-2" />
                    </div>
                </div>
            </div>
        </div>

        <MediaModal ref="showingMedia" :appendMedia="getMedia"></MediaModal>
    </AppLayout>
</template>
