<script setup>
import { reactive, ref, defineModel, watch } from 'vue';
import { Link, router, useForm } from '@inertiajs/vue3';
// import { Inertia } from "@inertiajs/inertia";
import moment from 'moment';
import AppLayout from '@/Layouts/AppLayout.vue';
import Pagination from '@/Components/Pagination.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faMagnifyingGlassArrowRight } from '@fortawesome/free-solid-svg-icons';
import { faPenToSquare, faTrashCan, faEye } from '@fortawesome/free-regular-svg-icons';

library.add(
    faMagnifyingGlassArrowRight,
    faPenToSquare,
    faTrashCan,
    faEye
)

const props = defineProps({
    articles: Object
});

const formDelete = useForm({
    ids: []
});

let search = defineModel();

const singleDelete = (id) => {
    router.delete(route('dash.content.article.destroy', {id: id}), {preserveScroll: true});
}

// todo for select all
const selectAll = () => {

}

let disableButton = true;
watch(() => formDelete.ids, (newIds) => {
    if (formDelete.ids.length > 0) {
        disableButton = false;
    } else {
        disableButton = true;
    }
})

const multipleDelete = () => {
    // console.log('IDS', formDelete.ids)
    formDelete.post(route('dash.content.article.multipleDelete'));
}

</script>

<template>
    <AppLayout title="Articles">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Articles</h1>
            <div>
                <button type="button" class="btn btn-outline-light me-2" :disabled="disableButton" @click="multipleDelete">Delete</button>
                <Link :href="route('dash.content.article.create')" class="btn btn-outline-light">New Article</Link>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Keyword" aria-label="RSearch Keyword" v-model="search">
            <Link :href="route('dash.content.article.index')" :data="{ search }" preserve-state class="btn btn-outline-secondary">
                <font-awesome-icon :icon="['fas', 'magnifying-glass-arrow-right']" />
            </Link>
        </div>
        <div class="table-responsive small">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in articles.data" :key="item.id">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" :value="item.id" v-model="formDelete.ids">
                            </div>
                        </td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.url_title }}</td>
                        <td>{{ moment(item.created_at).format("YYYY-MM-DD hh:mm:ss") }}</td>
                        <td>{{ moment(item.updated_at).format("YYYY-MM-DD hh:mm:ss") }}</td>
                        <td class="text-center">
                            <Link :href="route('dash.content.article.edit', {id: item.id})" class="text-decoration-none text-reset"><font-awesome-icon :icon="['far', 'pen-to-square']" /></Link>
                            <span class="text-secondary mx-1">&#9475;</span>
                            <button type="button" class="btn btn-sm p-0" style="line-height: 1;" @click="singleDelete(item.id)"><font-awesome-icon :icon="['far', 'trash-can']" /></button>
                            <!-- <span class="text-secondary mx-1">&#9475;</span>
                            <a href="#" class="text-decoration-none text-reset" target="_blank"><font-awesome-icon :icon="['far', 'eye']" /></a> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <Pagination class="mt-5" :links="articles.links" />
    </AppLayout>
</template>
