<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Calendar from '@/Components/Calendar.vue';

const eventLists = [
    { title: 'event 1', date: '2023-08-19' },
    { title: 'event 2', date: '2023-08-18' }
];
</script>

<template>
    <AppLayout title="Dashboard">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <div class="table-responsive small">
            <Calendar :eventList="eventLists" />
        </div>
    </AppLayout>
</template>
