<template>
    <div class="d-flex align-items-center justify-content-start py-1 h-auto">
        <img src="/storage/assets/nikipedia-white.png" width="40" class="d-inline" />
        <h4>Nikipedia</h4>
    </div>
</template>
