<script setup>
import { nextTick, ref } from 'vue';
import '@fullcalendar/core';
import FullCalendar from '@fullcalendar/vue3';
import dayGridPlugin from '@fullcalendar/daygrid';
import interactionPlugin from '@fullcalendar/interaction';
import EventForm from './EventForm.vue';

let showingEvent = ref(null);
let formModal = ref(null);

const props = defineProps({
    eventSrc: Array,
    eventList: Array || null,
    calendarView: String,
});

const formEvent = (data, eventId) => {
    formModal.value.showModal(data, eventId);
}

// const closeModal = () => {
//     showingEvent.value = false;
// };

const calendarOptions = {
    contentHeight: 650,
    plugins: [dayGridPlugin, interactionPlugin],
    initialView: props.calendarView ? props.calendarView : 'dayGridMonth',
    fixedWeekCount: false,
    eventSources: props.eventSrc,
    eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        meridiem: true,
        hour12: false
    },
    dateClick: (info) => {
        // alert('Clicked on: ' + info.dateStr);
        console.log("CLICKED_DATE", info.dateStr);
        // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
        // alert('Current view: ' + info.view.type);
        // // change the day's background color just for fun
        // info.dayEl.style.backgroundColor = 'red';
        formEvent(info, 0);
    },
    eventClick: (info) => {
        formEvent(null, info.event.id);
    },
};

const renderComponent = ref(true);
const reloadEvents = async () => {
    renderComponent.value = false;
    await nextTick();
    renderComponent.value = true;
}
</script>

<template>
    <div>
        <FullCalendar v-if="renderComponent" :options="calendarOptions" />
    </div>

    <EventForm ref="formModal" @newEvent="reloadEvents"></EventForm>
</template>
