<script setup>
import { onMounted, ref } from 'vue';
import { router, useForm } from '@inertiajs/vue3';
import { Modal } from 'bootstrap';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import {faClock} from '@fortawesome/free-regular-svg-icons';
import axios from 'axios';

let modalEle = ref(null);
let thisModalObj = null;
let isReadOnly = false;

library.add(
    faClock,
);

const emit = defineEmits(['newEvent'])

const formatDate = 'yyyy-MM-dd'
const formatTime = 'HH:mm'

const form = useForm({
    eventDate: '',
    eventTime: '',
    title: '',
    description: '',
    classes: null
});

onMounted(() => {
    thisModalObj = new Modal(modalEle.value);
});

let modalTitle = 'Add Event';
let showDelete = ref(false);
let itemId = 0;
const showModal = (data, eventId) => {
    if (data && eventId === 0) {
        form.eventDate = data.dateStr;
        isReadOnly = true;
    } else if (eventId !== 0) {
        itemId = eventId;
        axios.get(route('dash.calendar.edit', {id: eventId}))
            .then(response => {
                form.eventDate = response.data.eventDate;
                form.eventTime = response.data.eventTime;
                form.title = response.data.title;
                form.description = response.data.description;
                form.classes = response.data.classes;
                modalTitle = 'Edit Event';
                showDelete.value = !showDelete.value;
            });
    }
    thisModalObj.show();
}

defineExpose({ showModal: showModal });

const createdEvent = () => {
    emit('newEvent', true);
    form.reset();
    thisModalObj.hide();
}

const submitForm = () => {
    form.post(route('dash.calendar.store'), {
        onSuccess: () => {
            form.reset();
            createdEvent();
        }
    })
}

const deleteEvent = () => {
    router.delete(route('dash.calendar.destroy', {id: itemId}), {preserveScroll: true});
    emit('newEvent', true);
    form.reset();
    thisModalObj.hide();
}
</script>

<template>
    <form @submit.prevent="submitForm">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modalEle">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ modalTitle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <InputLabel for="date" value="Date" />
                        <VueDatePicker
                            id="date"
                            v-model="form.eventDate"
                            :format="formatDate"
                            :enable-time-picker="false"
                            dark
                            auto-apply
                            input-class-name="mt-1 form-control"
                            required
                            :timezone="$inertia.page.props.timezone"
                            :readonly="isReadOnly">
                        </VueDatePicker>
                        <InputError class="mt-1" :message="form.errors.eventDate" />
                    </div>
                    <div class="mb-3">
                        <InputLabel for="time" value="Time Start - End" />
                        <VueDatePicker
                            id="time"
                            v-model="form.eventTime"
                            :format="formatTime"
                            time-picker
                            dark
                            range
                            input-class-name="mt-1 form-control"
                            required>
                            <template #input-icon>
                                <span class="px-2 py-1">
                                    <font-awesome-icon :icon="['far', 'clock']" />
                                </span>
                            </template>
                        </VueDatePicker>
                        <InputError class="mt-1" :message="form.errors.eventTime" />
                    </div>
                    <div class="mb-3">
                        <InputLabel for="title" value="Title" />
                        <TextInput
                            id="title"
                            v-model="form.title"
                            class="mt-1 form-control"
                            required
                        />
                        <InputError class="mt-1" :message="form.errors.title" />
                    </div>
                    <div class="mb-3">
                        <InputLabel value="Color" />
                        <div class="row mt-1">
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="form.classes" :value="['bg-gradient', 'bg-primary']" id="common">
                                    <label class="form-check-label d-flex align-items-center" for="common">
                                        <span class="color-opt bg-primary bg-gradient"></span> <span>Common</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="form.classes" :value="['bg-gradient', 'bg-success']" id="info">
                                    <label class="form-check-label d-flex align-items-center" for="info">
                                        <span class="color-opt bg-success bg-gradient"></span> <span>Info</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" v-model="form.classes" :value="['bg-gradient', 'bg-danger']" id="important">
                                    <label class="form-check-label d-flex align-items-center" for="important">
                                        <span class="color-opt bg-danger bg-gradient"></span> <span>Important</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <InputLabel for="description" value="Description" />
                        <textarea
                            id="description"
                            v-model="form.description"
                            class="mt-1 form-control"
                        ></textarea>
                    </div>
                </div>
                <div :class="['modal-footer', showDelete ? 'justify-content-between align-items-center' : '']">
                    <button v-if="showDelete" type="button" class="btn btn-outline-warning" @click="deleteEvent">Delete</button>
                    <button type="submit" class="btn btn-outline-light" :disabled="form.processing">Submit</button>
                </div>
                </div>
            </div>
        </div>
    </form>
</template>
