<script setup>
import { onMounted, ref, reactive } from 'vue';
import { useForm } from '@inertiajs/vue3';
import { Modal } from 'bootstrap';
import axios from 'axios';
import { useDropzone } from "vue3-dropzone";
import { library } from '@fortawesome/fontawesome-svg-core';
import { faMagnifyingGlassArrowRight, faVideo, faVolumeLow } from '@fortawesome/free-solid-svg-icons';
import {
    faPenToSquare,
    faTrashCan,
    faEye,
    faFile,
    faImage,
    faFilePdf,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint
} from '@fortawesome/free-regular-svg-icons';

library.add(
    faMagnifyingGlassArrowRight,
    faPenToSquare,
    faTrashCan,
    faEye,
    faFile,
    faVideo,
    faImage,
    faFilePdf,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint,
    faVolumeLow
)

let modalEle = ref(null);
let thisModalObj = null;

const props = defineProps({
    attachType: String,
    mediaList: Object,
    appendMedia: String,
    posted: Object
});

let res = reactive({
    medias: {}
});

onMounted(() => {
    thisModalObj = new Modal(modalEle.value);
});

const showMedias = (dataType) => {
    axios.get(route('dash.general.media.ajax', {type: dataType})).then(response => {
        res.medias = response.data;
        thisModalObj.show();
    });
}

defineExpose({ showModal: showMedias });

const mimeToIcon = (mime) => {
    if (mime.includes("video")) {
        return ['fas', 'video']
    } else if (mime.includes("image")) {
        return ['far', 'image']
    } else if (mime.includes("pdf")) {
        return ['far', 'file-pdf']
    } else if (mime.includes("zip") || mime.includes("rar") || mime.includes("compressed")) {
        return ['far', 'file-zipper']
    } else if (mime.includes("excel") || mime.includes("spreadsheet")) {
        return ['far', 'file-excel']
    } else if (mime.includes("text")) {
        return ['far', 'file-text']
    } else if (mime.includes("msword") || mime.includes("wordprocessing")) {
        return ['far', 'file-word']
    } else if (mime.includes("ms-powerpoint") || mime.includes("presentation")) {
        return ['far', 'file-powerpoint']
    } else if (mime.includes("audio")) {
        return ['fas', 'volume-low']
    } else {
        return ['far', 'file']
    }
}

const sendMedia = (fileUrl, type) => {
    // console.log('FILE_URL', fileUrl);
    let mediaType = 'image';
    if (type.includes("video")) {
        mediaType = 'video';
    }
    props.appendMedia(fileUrl, mediaType);
    thisModalObj.hide();
}

const mediaForm = useForm({
    media: null,
});

const onDrop = (acceptFiles, rejectReasons) => {
    console.log(acceptFiles);
    // console.log(rejectReasons);
    mediaForm.media = acceptFiles;
    mediaForm.post(route('dash.general.media.uploadSingle'), {
        onSuccess: (resp) => {
            sendMedia(resp.props.posted.media_path, resp.props.posted.mime_type)
        }
    });
}

const { getRootProps, getInputProps, ...rest } = useDropzone({
    onDrop: onDrop
});
</script>

<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modalEle">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Media</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="main-tab" data-bs-toggle="tab" data-bs-target="#main-tab-pane" type="button" role="tab" aria-controls="main-tab-pane" aria-selected="true">Select from The List</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload-tab-pane" type="button" role="tab" aria-controls="upload-tab-pane" aria-selected="false">Upload a New One</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="main-tab-pane" role="tabpanel" aria-labelledby="main-tab" tabindex="0">
                            <div class="table-responsive small">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="text-center">Type</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in res.medias.data" :key="item.id">
                                            <td>{{ item.file_name }}</td>
                                            <td class="text-center">
                                                <font-awesome-icon
                                                :icon="mimeToIcon(item.mime_type)"
                                                :title="item.mime_type"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                :data-bs-title="item.mime_type" />
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-sm-default" @click="sendMedia(item.media_path, item.mime_type)">Select</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="upload-tab-pane" role="tabpanel" aria-labelledby="upload-tab" tabindex="0">
                            <div class="d-flex justify-content-center align-items-center custom-dropzone" v-bind="getRootProps()">
                                <progress v-if="mediaForm.progress" :value="mediaForm.progress.percentage" max="100">
                                    {{ mediaForm.progress.percentage }}%
                                </progress>
                                <div v-else>
                                    <input v-bind="getInputProps()" :multiple="false" />
                                    <p v-if="isDragActive">Drop a file here ...</p>
                                    <p v-else>Drag 'n' drop a file here, or click to select file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <p>TEST</p>
                </div> -->
            </div>
        </div>
    </div>
</template>
