<script setup>
import { onMounted, ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import { Modal } from 'bootstrap';
import { useDropzone } from "vue3-dropzone";

let modalEle = ref(null);
let thisModalObj = null;

const props = defineProps({
    attachType: String
});

const form = useForm({
    medias: null,
});

// const getMedia = () => {
//     axios.get(route('dash.general.mediaAjax')).then(response => {
//         props.mediaList = response.data;
//     });
// }

// documentation https://www.npmjs.com/package/vue3-dropzone

const onDrop = (acceptFiles, rejectReasons) => {
    console.log(acceptFiles);
    // console.log(rejectReasons);
    // const files = acceptFiles;
    form.medias = acceptFiles;
    form.post(route('dash.general.media.upload'));
    thisModalObj.hide();
}

const { getRootProps, getInputProps, ...rest } = useDropzone({
    onDrop: onDrop
});

onMounted(() => {
    thisModalObj = new Modal(modalEle.value);
});

const showMedias = () => {
    // getMedia();
    // console.log(props.mediaList);
    thisModalObj.show();
}

defineExpose({ showModal: showMedias });
</script>

<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modalEle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center align-items-center custom-dropzone" v-bind="getRootProps()">
                        <progress v-if="form.progress" :value="form.progress.percentage" max="100">
                            {{ form.progress.percentage }}%
                        </progress>
                        <div v-else>
                            <input v-bind="getInputProps()" />
                            <p v-if="isDragActive">Drop the files here ...</p>
                            <p v-else>Drag 'n' drop some files here, or click to select files</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <p>TEST</p>
                </div> -->
            </div>
        </div>
    </div>
</template>
