<script setup>
import { QuillEditor } from '@vueup/vue-quill';
import BlotFormatter from 'quill-blot-formatter';
// import ImageUploader from 'quill-image-uploader';
import '@vueup/vue-quill/dist/vue-quill.snow.css';
import axios from 'axios';

const props = defineProps({
    inputModel: String
});

// const modules = {
//     'blotFormatter': {
//         module: BlotFormatter,
//         options: {/* options */}
//     },
//     'imageUploader': {
//         module: ImageUploader,
//         options: {
//             upload: file => {
//                 return new Promise((resolve, reject) => {
//                     const formData = new FormData();
//                     formData.append("image", file);

//                     axios.post('/upload-image', formData)
//                     .then(res => {
//                         console.log(res)
//                         resolve(res.data.url);
//                     })
//                     .catch(err => {
//                         reject("Upload failed");
//                         console.error("Error:", err)
//                     })
//                 })
//             }
//         }
//     }
// }
</script>

<template>
    <!-- <QuillEditor theme="snow" toolbar="full" :modules="modules" /> -->
    <QuillEditor theme="snow" toolbar="full"  />
</template>
