<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Wysiwyg from '@/Components/Wysiwyg.vue';
</script>

<template>
    <AppLayout title="Home Content">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Home Content</h1>
            <button class="btn btn-outline-light">Submit</button>
        </div>
        <div class="h-100">
            <Wysiwyg />
        </div>
    </AppLayout>
</template>
