<script setup>
import { onMounted, ref, reactive } from 'vue';
import { Link } from '@inertiajs/vue3';
import { Modal } from 'bootstrap';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faDownload  } from '@fortawesome/free-solid-svg-icons';
import {
    faFile,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint
} from '@fortawesome/free-regular-svg-icons';

library.add(
    faFile,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint,
    faDownload
)

let modalDetail = ref(null);
let thisDetailObj = null;

let fileName = '';
let fileUrl = '';
let mediaType = '';

const fileData = reactive({
    title: 'File Name',
    url: '#',
    type: 'file',
});

onMounted(() => {
    thisDetailObj = new Modal(modalDetail.value);
});

const showDetail = (data) => {
    if (data) {
        fileData.type = data.mime_type;
        fileData.title = data.file_name;
        fileData.url = data.file_url;
    }
    thisDetailObj.show();
}

defineExpose({ showDetail: showDetail });
</script>

<!-- Todo: Add renderer for some files -->
<template>
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModal" aria-hidden="true" ref="modalDetail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ fileData.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="fileData.type.includes('pdf')" class="ratio ratio-1x1">
                        <embed :src="fileData.url" />
                    </div>
                    <div v-else-if="fileData.type.includes('image')" class="d-flex align-items-center justify-content-center">
                        <img :src="fileData.url" />
                    </div>
                    <div v-else-if="fileData.type.includes('video')" class="ratio ratio-16x9">
                        <video :src="fileData.url" class="object-fit-contain" controls></video>
                    </div>
                    <div v-else-if="fileData.type.includes('audio')" class="d-flex align-items-center justify-content-center">
                        <audio :src="fileData.url" class="w-100" controls></audio>
                    </div>
                    <div v-else-if="fileData.type.includes('text')" class="d-flex align-items-center justify-content-center">
                        <embed :src="fileData.url" class="w-100" />
                    </div>
                    <!-- <div v-else-if="fileData.type.includes('msword') || fileData.type.includes('wordprocessing')" class="ratio ratio-1x1">
                        <embed :src="'https://docs.google.com/gview?url='+fileData.url" />
                    </div> -->
                    <div v-else class="d-flex align-items-center justify-content-center">
                        <div class="text-center">
                            <font-awesome-icon v-if="fileData.type.includes('zip') || fileData.type.includes('rar') || fileData.type.includes('compressed')" :icon="['far', 'file-zipper']" class="fa-10x" />
                            <font-awesome-icon v-else-if="fileData.type.includes('excel') || fileData.type.includes('spreadsheet')" :icon="['far', 'file-excel']" class="fa-10x" />
                            <font-awesome-icon v-else-if="fileData.type.includes('msword') || fileData.type.includes('wordprocessing')" :icon="['far', 'file-word']" class="fa-10x" />
                            <font-awesome-icon v-else-if="fileData.type.includes('ms-powerpoint') || fileData.type.includes('presentation')" :icon="['far', 'file-powerpoint']" class="fa-10x" />
                            <font-awesome-icon v-else :icon="['far', 'file']" class="fa-10x" />
                            <h5 class="mt-3">No Preview Available!</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <a :href="fileData.url" class="btn btn-info" download><font-awesome-icon :icon="['fas', 'download']" /> Download</a>
                </div>
            </div>
        </div>
    </div>
</template>
