<script setup>
import { onMounted, reactive, ref } from 'vue';
import { Link } from '@inertiajs/vue3';
import moment from 'moment';
import { Tooltip } from 'bootstrap';
import AppLayout from '@/Layouts/AppLayout.vue';
import Pagination from '@/Components/Pagination.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faMagnifyingGlassArrowRight, faVideo, faVolumeLow } from '@fortawesome/free-solid-svg-icons';
import {
    faPenToSquare,
    faTrashCan,
    faEye,
    faFile,
    faImage,
    faFilePdf,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint
} from '@fortawesome/free-regular-svg-icons';
import NewMedia from '@/Components/NewMedia.vue';
import Detail from './Detail.vue';

library.add(
    faMagnifyingGlassArrowRight,
    faPenToSquare,
    faTrashCan,
    faEye,
    faFile,
    faVideo,
    faImage,
    faFilePdf,
    faFileZipper,
    faFileExcel,
    faFileText,
    faFileWord,
    faFilePowerpoint,
    faVolumeLow
)

defineProps({
    medias: Object
});

onMounted(() => {
    new Tooltip(document.body, {
        selector: "[data-bs-toggle='tooltip']"
    })
});

let showingUpload = ref(null);
const callUpload = () => {
    showingUpload.value.showModal();
}

let showingDetail = ref(null);
const callDetail = async (itemId) => {
    await axios.get(route('dash.general.media.show', {id: itemId}))
        .then((resp) => {
            // setTimeout(() => {
            //     showingDetail.value.showModal(resp.data);
            // }, 1500);
            showingDetail.value.showDetail(resp.data);
        });
}

const mimeToIcon = (mime) => {
    if (mime.includes("video")) {
        return ['fas', 'video']
    } else if (mime.includes("image")) {
        return ['far', 'image']
    } else if (mime.includes("pdf")) {
        return ['far', 'file-pdf']
    } else if (mime.includes("zip") || mime.includes("rar") || mime.includes("compressed")) {
        return ['far', 'file-zipper']
    } else if (mime.includes("excel") || mime.includes("spreadsheet")) {
        return ['far', 'file-excel']
    } else if (mime.includes("text")) {
        return ['far', 'file-text']
    } else if (mime.includes("msword") || mime.includes("wordprocessing")) {
        return ['far', 'file-word']
    } else if (mime.includes("ms-powerpoint") || mime.includes("presentation")) {
        return ['far', 'file-powerpoint']
    } else if (mime.includes("audio")) {
        return ['fas', 'volume-low']
    } else {
        return ['far', 'file']
    }
}

</script>

<template>
    <AppLayout title="Media">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Media</h1>
            <button class="btn btn-outline-light" :onClick="callUpload">Upload Media</button>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Keyword" aria-label="RSearch Keyword" v-model="search">
            <Link :href="route('dash.general.media.index')" :data="{ search }" preserve-state class="btn btn-outline-secondary">
                <font-awesome-icon :icon="['fas', 'magnifying-glass-arrow-right']" />
            </Link>
        </div>
        <div class="table-responsive small">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th class="text-center">Type</th>
                        <th>Uploaded At</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in medias.data" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.file_name }}</td>
                        <td class="text-center">
                            <font-awesome-icon
                            :icon="mimeToIcon(item.mime_type)"
                            :title="item.mime_type"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            :data-bs-title="item.mime_type" />
                        </td>
                        <td>{{ moment(item.created_at).format("YYYY-MM-DD hh:mm:ss") }}</td>
                        <td class="text-center">
                            <Link href="#" class="text-decoration-none text-reset"><font-awesome-icon :icon="['far', 'pen-to-square']" /></Link>
                            <span class="text-secondary mx-1">&#9475;</span>
                            <Link href="#" class="text-decoration-none text-reset"><font-awesome-icon :icon="['far', 'trash-can']" /></Link>
                            <span class="text-secondary mx-1">&#9475;</span>
                            <button type="button" href="#" @click="callDetail(item.id)" class="btn btn-link p-0 text-decoration-none text-reset">
                                <font-awesome-icon :icon="['far', 'eye']" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <Pagination class="mt-5" :links="medias.links" />

        <NewMedia ref="showingUpload"></NewMedia>
        <Detail ref="showingDetail"></Detail>
    </AppLayout>
</template>
