<script setup>
import { nextTick, ref } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import axios from 'axios';
import Calendar from '@/Components/Calendar.vue';
import EventForm from '@/Components/EventForm.vue';

const renderComponent = ref(true);
const eventSource = [
    {
        events: function(fetchInfo, successCallback, failureCallback) {
            axios.post('/dashboard/calendar/data', fetchInfo).then(response => {
                // console.log('XXX', response.data);
                successCallback(response.data);
            });
        }
    }
];
let showingForm = ref(null);
const callForm = () => {
    showingForm.value.showModal(null, 0);
}

const reloadEvents = async () => {
    renderComponent.value = false;
    await nextTick();
    renderComponent.value = true;
}
</script>

<template>
    <AppLayout title="Calendar">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Calendar Events</h1>
            <button class="btn btn-outline-light" :onClick="callForm">Add Event</button>
        </div>
        <div class="table-responsive small">
            <Calendar v-if="renderComponent" :eventSrc="eventSource" />
        </div>

        <EventForm ref="showingForm" @newEvent="reloadEvents"></EventForm>
    </AppLayout>
</template>
