<script setup>
import { ref } from 'vue';
import { Head, Link, router } from '@inertiajs/vue3';
import ApplicationMark from '@/Components/ApplicationMark.vue';
import Banner from '@/Components/Banner.vue';
// import Dropdown from '@/Components/Dropdown.vue';
// import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
// import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import {faBars, faHouse, faGauge, faDownload, faGears, faScrewdriverWrench, faSliders, faArrowRightFromBracket, faBrain, faPhotoFilm} from '@fortawesome/free-solid-svg-icons';
import {faAddressCard, faAddressBook, faNewspaper, faCalendar} from '@fortawesome/free-regular-svg-icons';

defineProps({
    title: String,
});

library.add(
    faBars,
    faHouse,
    faGauge,
    faDownload,
    faGears,
    faScrewdriverWrench,
    faAddressCard,
    faAddressBook,
    faSliders,
    faNewspaper,
    faArrowRightFromBracket,
    faBrain,
    faCalendar,
    faPhotoFilm,
);

// const showingNavigationDropdown = ref(false);

// const switchToTeam = (team) => {
//     router.put(route('current-team.update'), {
//         team_id: team.id,
//     }, {
//         preserveState: false,
//     });
// };

const logout = () => {
    router.post(route('logout'));
};
</script>

<template>
    <div>
        <Head :title="title" />

        <Banner />

        <div class="min-h-screen">
            <header class="navbar sticky-top flex-md-nowrap p-0 shadow" data-bs-theme="dark">
                <Link :href="route('dashboard')" class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">
                    <ApplicationMark class="block h-9 w-auto" />
                </Link>
                <div class="flex-row">
                    <div class="dropdown d-inline-flex">
                        <button class="nav-link px-3 text-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ $page.props.auth.user.name }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <h6 class="dropdown-header">Manage Account</h6>
                            <Link class="dropdown-item" :href="route('profile.show')">Profile</Link>
                            <Link class="dropdown-item" v-if="$page.props.jetstream.hasApiFeatures" :href="route('api-tokens.index')">API Tokens</Link>
                            <form @submit.prevent="logout">
                                <button href="#" class="dropdown-item" type="submit">
                                    Sign Out
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="d-inline-flex d-md-none">
                        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <font-awesome-icon :icon="['fas', 'bars']" />
                        </button>
                    </div>
                </div>
            </header>
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar border border-right col-md-3 col-lg-2 p-0">
                        <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                            <div class="offcanvas-header">
                                <Link :href="route('dashboard')" class="navbar-brand col-md-3 col-lg-2 me-0 fs-6 text-white">
                                    <ApplicationMark class="block h-9 w-auto" />
                                </Link>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <NavLink :href="route('dashboard')" :active="route().current('dashboard')">
                                            <font-awesome-icon :icon="['fas', 'gauge']" /> Dashboard
                                        </NavLink>
                                    </li>
                                </ul>
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                                    <span>Page Content</span>
                                </h6>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <NavLink :href="route('dash.content.home')" :active="route().current('dash.content.home')">
                                            <font-awesome-icon :icon="['fas', 'house']" /> Home Content
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink :href="route('dash.content.about')" :active="route().current('dash.content.about')">
                                            <font-awesome-icon :icon="['far', 'address-card']" /> About Content
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink :href="route('dash.content.article.index')" :active="route().current('dash.content.article.*')">
                                            <font-awesome-icon :icon="['far', 'newspaper']" /> Articles
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['far', 'address-book']" /> Contact
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink :href="route('dash.general.media.index')" :active="route().current('dash.general.media.*')">
                                            <font-awesome-icon :icon="['fas', 'photo-film']" /> Media
                                        </NavLink>
                                    </li>
                                </ul>
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
                                    <span>Features</span>
                                </h6>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['fas', 'download']" /> Downloadable
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['fas', 'gears']" /> API
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['fas', 'screwdriver-wrench']" /> Tools
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink :href="route('dash.calendar.index')" :active="route().current('dash.calendar.*')">
                                            <font-awesome-icon :icon="['far', 'calendar']" /> Calendar
                                        </NavLink>
                                    </li>
                                </ul>
                                <hr class="my-3" />
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['fas', 'sliders']" /> Settings
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <NavLink href="#">
                                            <font-awesome-icon :icon="['fas', 'brain']" /> Master Data
                                        </NavLink>
                                    </li>
                                    <li class="nav-item">
                                        <form @submit.prevent="logout">
                                            <NavLink href="#" as="button">
                                                <font-awesome-icon :icon="['fas', 'arrow-right-from-bracket']" /> Sign out
                                            </NavLink>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <slot />
                        <div class="row align-items-center justify-content-between mt-5 mb-3 fw-lighter">
                            <div class="col">
                                <small>&copy; {{ new Date().getFullYear() }} Nikipedia</small>
                            </div>
                            <div class="col text-end">
                                <small>Main Authority: Muhammad Sofiullah S.</small>
                            </div>
                        </div>
                    </main>
                </div>
            </div>

            <!-- Page Heading -->
            <!-- <header v-if="$slots.header" class="bg-white shadow">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header" />
                </div>
            </header> -->

            <!-- Page Content -->
            <!-- <main>
                <slot />
            </main> -->
        </div>
    </div>
</template>
