<script setup>
import { ref } from 'vue';
import { Head, Link, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import Checkbox from '@/Components/Checkbox.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faEye, faEyeSlash } from '@fortawesome/free-regular-svg-icons';

library.add(
    faEye,
    faEyeSlash,
)

const form = useForm({
    name: '',
    email: '',
    password: '',
    password_confirmation: '',
    terms: false,
});

const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};

let seePassword = ref(false);
const passwordToggle = () => {
    seePassword.value = !seePassword.value;
}

let seeConfirm = ref(false);
const confirmToggle = () => {
    seeConfirm.value = !seeConfirm.value;
}

let notEqual = ref(false);
const checkConfirm = () => {
    const ori = form.password;
    const comp = form.password_confirmation;
    notEqual = comp !== ori;
}
</script>

<template>
    <Head title="Register" />

    <AuthenticationCard>
        <template #logo>
            <AuthenticationCardLogo />
        </template>

        <form @submit.prevent="submit">
            <div class="mb-3 row">
                <InputLabel for="name" value="Name" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <TextInput
                        id="name"
                        v-model="form.name"
                        type="text"
                        class="form-control"
                        required
                        autofocus
                        autocomplete="name"
                    />
                    <InputError class="mt-2" :message="form.errors.name" />
                </div>
            </div>

            <div class="mb-3 row">
                <InputLabel for="email" value="Email" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <TextInput
                        id="email"
                        v-model="form.email"
                        type="email"
                        class="form-control"
                        required
                        autocomplete="username"
                    />
                    <InputError class="mt-2" :message="form.errors.email" />
                </div>
            </div>

            <div class="mb-3 row">
                <InputLabel for="password" value="Password" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <div class="input-group">
                        <TextInput
                            v-if="seePassword"
                            id="password"
                            v-model="form.password"
                            type="text"
                            class="form-control"
                            required
                            autocomplete="new-password"
                        />
                        <TextInput
                            v-else
                            id="password"
                            v-model="form.password"
                            type="password"
                            class="form-control"
                            required
                            autocomplete="new-password"
                        />
                        <button class="btn btn-outline-secondary" type="button" @click="passwordToggle">
                            <font-awesome-icon :icon="['far', seePassword ? 'eye-slash' : 'eye']" />
                        </button>
                    </div>
                    <InputError class="mt-2" :message="form.errors.password" />
                </div>
            </div>

            <div class="mb-3 row">
                <InputLabel for="password_confirmation" value="Confirmation" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <div class="input-group">
                        <TextInput
                            v-if="seeConfirm"
                            id="password_confirmation"
                            v-model="form.password_confirmation"
                            type="text"
                            class="form-control"
                            @update:model-value="checkConfirm"
                            required
                            autocomplete="new-password"
                        />
                        <TextInput
                            v-else
                            id="password_confirmation"
                            v-model="form.password_confirmation"
                            type="password"
                            class="form-control"
                            @update:model-value="checkConfirm"
                            required
                            autocomplete="new-password"
                        />
                        <button class="btn btn-outline-secondary" type="button" @click="confirmToggle">
                            <font-awesome-icon :icon="['far', seeConfirm ? 'eye-slash' : 'eye']" />
                        </button>
                    </div>
                    <span v-if="notEqual" class="text-warning" style="font-size: .75rem;">Confirmation password is not same with password!</span>
                    <InputError class="mt-2" :message="form.errors.password_confirmation" />
                </div>
            </div>

            <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4">
                <InputLabel for="terms">
                    <div class="flex items-center">
                        <Checkbox id="terms" v-model:checked="form.terms" name="terms" required />

                        <div class="ml-2">
                            I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Privacy Policy</a>
                        </div>
                    </div>
                    <InputError class="mt-2" :message="form.errors.terms" />
                </InputLabel>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <Link :href="route('login')" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Already registered?
                </Link>

                <button class="btn btn-outline-light" type="submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Register
                </button>
            </div>
        </form>
    </AuthenticationCard>
</template>
