<script setup>
import { ref } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import { library } from '@fortawesome/fontawesome-svg-core';
import { faEye, faEyeSlash } from '@fortawesome/free-regular-svg-icons';

library.add(
    faEye,
    faEyeSlash,
)

const props = defineProps({
    email: String,
    token: String,
});

const form = useForm({
    token: props.token,
    email: props.email,
    password: '',
    password_confirmation: '',
});

const submit = () => {
    form.post(route('password.update'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};

let seePassword = ref(false);
const passwordToggle = () => {
    seePassword.value = !seePassword.value;
}

let seeConfirm = ref(false);
const confirmToggle = () => {
    seeConfirm.value = !seeConfirm.value;
}

let notEqual = ref(false);
const checkConfirm = () => {
    const ori = form.password;
    const comp = form.password_confirmation;
    notEqual = comp !== ori;
}
</script>

<template>
    <Head title="Reset Password" />

    <AuthenticationCard>
        <template #logo>
            <AuthenticationCardLogo />
        </template>

        <form @submit.prevent="submit">
            <div class="mb-3 row">
                <InputLabel for="email" value="Email" class="col-sm-3 col-form-label" />
                <TextInput
                    id="email"
                    v-model="form.email"
                    type="email"
                    class="mt-1 block w-full"
                    required
                    autofocus
                    autocomplete="username"
                />
                <InputError class="mt-2" :message="form.errors.email" />
            </div>

            <div class="mb-3 row">
                <InputLabel for="password" value="Password" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <div class="input-group">
                        <TextInput
                            v-if="seePassword"
                            id="password"
                            v-model="form.password"
                            type="text"
                            class="form-control"
                            required
                            autocomplete="new-password"
                        />
                        <TextInput
                            v-else
                            id="password"
                            v-model="form.password"
                            type="password"
                            class="form-control"
                            required
                            autocomplete="new-password"
                        />
                        <button class="btn btn-outline-secondary" type="button" @click="passwordToggle">
                            <font-awesome-icon :icon="['far', seePassword ? 'eye-slash' : 'eye']" />
                        </button>
                    </div>
                    <InputError class="mt-2" :message="form.errors.password" />
                </div>
            </div>

            <div class="mb-3 row">
                <InputLabel for="password_confirmation" value="Confirmation" class="col-sm-3 col-form-label" />
                <div class="col-sm-9">
                    <div class="input-group">
                        <TextInput
                            v-if="seeConfirm"
                            id="password_confirmation"
                            v-model="form.password_confirmation"
                            type="text"
                            class="form-control"
                            @update:model-value="checkConfirm"
                            required
                            autocomplete="new-password"
                        />
                        <TextInput
                            v-else
                            id="password_confirmation"
                            v-model="form.password_confirmation"
                            type="password"
                            class="form-control"
                            @update:model-value="checkConfirm"
                            required
                            autocomplete="new-password"
                        />
                        <button class="btn btn-outline-secondary" type="button" @click="confirmToggle">
                            <font-awesome-icon :icon="['far', seeConfirm ? 'eye-slash' : 'eye']" />
                        </button>
                    </div>
                    <span v-if="notEqual" class="text-warning" style="font-size: .75rem;">Confirmation password is not same with password!</span>
                    <InputError class="mt-2" :message="form.errors.password_confirmation" />
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-light" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Reset Password
                </button>
            </div>
        </form>
    </AuthenticationCard>
</template>
